<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">CodeFlayers</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">Software Creative Agency</h2>
      <app-model></app-model>
    </div>
  </div>
</header>
