<!-- Client Section -->
<section id="clients" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Our clients who work with us</h2>
        <p class="text-white-50">Both large national corporate clients and small local businesses trust our team</p>
      </div>
    </div>
    <img src="./assets/img/ipad.png" class="img-fluid" alt="">
  </div>
</section>