<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Nullam libero diam, pretium sed...</h2>
        <p class="text-white-50">Donec facilisis metus mi, quis scelerisque lorem aliquet quis. Etiam eleifend, arcu ac dictum congue, erat odio bibendum velit, id blandit est nunc a tortor. Nulla efficitur lobortis est, non aliquam erat feugiat ac.</p>
      </div>
    </div>
    <img src="./assets/img/ipad.png" class="img-fluid" alt="">
  </div>
</section>