<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 mx-auto text-center">
            <h2 class="text-white mb-4">Our best projects</h2>
            <p class="text-white-50">We develop innovations that are changing the world</p>
        </div>
    </div>
    <!-- Project Two Row -->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-3">
        <img class="img-fluid" src="./assets/img/demo-image-02.jpg" alt="">
      </div>
      <div class="col-lg-3">
        <img class="img-fluid" src="./assets/img/demo-image-02.jpg" alt="">
      </div>
      <div class="col-lg-3">
          <img class="img-fluid" src="./assets/img/demo-image-02.jpg" alt="">
      </div>
      <div class="col-lg-3">
          <img class="img-fluid" src="./assets/img/demo-image-02.jpg" alt="">
      </div>
    </div>
  </div>
</section>